-# http://railscasts.com/episodes/59-optimistic-locking
%h2
  #h2_adopt
    = t('titles.adopt', :thing => t('defaults.thing'))
= form_for :thing, :url => '', :method => :put, :html => {:id => 'adoption_form'} do |f|
  = f.hidden_field 'id', :value => session[:thing].id
  = f.hidden_field 'user_id', :value => current_user.id
  = f.hidden_field 'lock_version', :value => session[:thing].lock_version
  %fieldset.control-group
    = f.label 'name', t('labels.name_thing', :thing => t('defaults.thing')), :id => 'thing_name_label'
    = f.text_field 'name'
  %fieldset.control-group
    .btn-group
      %a{:id => 'email_notifications', :class => 'btn disabled', 'data-content' => t('labels.email_notifications'), 'data-title' => t('labels.email_notifications_title')}
      %a{:id => 'sms_notifications', :class => 'btn disabled', 'data-content' => t('labels.sms_notifications'), 'data-title' => t('labels.sms_notifications_title')}
    %a{:id => 'adopt_button', :class => 'btn primary', :type => 'submit', :name => 'commit'}
      = t('buttons.adopt')